

/*Leis*/

@charset "UTF-8";

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Config Globais*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EFE9F7;
    height: 100%;
}

.clear {
    clear: both;
}

/*Header - Cabeça*/

header {
    background-color: #4E366B;
    height: 90px;
}

/*Titulo*/

header h1 {
    font-size: 2.1em;
    font-family: 'ABeeZee', sans-serif;
    color: #EFE9F7;
    padding-left: 69px;
    padding-top: 24px;
}

/*Links*/

.dev {
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    color: #EFE9F7;
    float: right;
    text-decoration: none;
    /*position: relative;
    right: 90px;*/
}

.dev:hover {
    color: #A896D6;
    text-decoration: underline;
}

.Desc  {
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    color: #EFE9F7;
    float: right;
    text-decoration: none;
    /*position: relative;
    right: 134px;*/
}

.Desc:hover {
    color: #A896D6;
    text-decoration: underline;
}

/*Corpo*/

main {
    display: flex;
}

/*As vantagens de ser invisível*/

.titulo-AVdsI {
    font-family: Helvetica, Arial, sans-serif;
    /*position: relative;
    top: 76px;
    left: 60px;*/
    font-size: 2em;
    max-width: 447px;
}

.AVdsI {
    float: left;
    /*position: relative;
    top: 115px;
    left: 100px;*/
}

/*Divergente*/

.titulo-Diver {
    font-family: Helvetica, Arial, sans-serif;
    /*position: relative;
    top: -460px;
    left: 835px;*/
    font-size: 2em;
    max-width: 447px;
}

.Diver {
    float: left;
    /*position: relative;
    top: -421px;
    left: 758px;*/
}

/*Esquadrão Suicida*/

.titulo-EdS {
    font-family: Helvetica, Arial, sans-serif;
    /*position: relative;
    top: -997px;
    left: 1370px;*/
    font-size: 2em;
    max-width: 447px;
}

.EdS {
    float: left;
    /*position: relative;
    top: -958px;
    left: 1363px;*/
}

/*Footer - Rodape*/

footer {
    background-color: #4E366B;
    padding-top: 76px;
    /*position: relative;*/
    /*bottom: 833px;*/
}